{% extends "base.html" %} {% block content %}

<div class="row">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="row">
    <div class="col-xs-5">
        <div class="shadow">
        	<h4><a href="/category/new"> Add Category </a></h4>
            <h2> Categories </h2>
            {% for i in categories %}
            <ul>
            	<li><a href="{{url_for('showCategory', category_id=i.id)}}" class="black">{{ i.name }}</a> 
                {% if 'user_id' in session %}
                {% if session['user_id'] == i.user_id %}
                <span class="float-right marginright">
                <a href="{{url_for('editCategory', category_id=i.id)}}"> Edit </a> 
                &#x007C;
                <a href="{{url_for('deleteCategory', category_id=i.id)}}"> Delete </a>
                </span>
                {% endif %}
                {% endif %}
                </li>
            </ul>
            {% endfor %}
            <br>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="shadow">
        	<h4><a href="/category/items/new"> Add Item </a></h4>
            <h2><a href="{{url_for('showItem', category_id=item.category_id, item_id=item.id)}}" class="black">{{ item.name }}
            </a>
            (
            <a href="{{url_for('showCategory', category_id=item.category.id)}}" class="error"> {{item.category.name}}
            </a>
            )
            </h2>
            <h3> Description: </h3>
            <p> {{ item.description }} </p>
            <br>
        </div>
    </div>
</div>

{% endblock %}