{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-xs-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-xs-12">
			<h1>Delete item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<form action="#" method = "post">
				<div class="form-group">
				<label for="name">Are you sure you want to delete {{item.name}} from category {{category.name}}?</label>
				<div class="marginbot"></div>
				<button type="delete" class="btn btn-default" id="delete" name="submit" value="delete">
				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete</button>
				<a href = "{{url_for('showCategories')}}">
				<button type="submit" class="btn btn-default" name="submit" id="cancel" value="cancel">
				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Cancel</button>
				</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
